.line::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 25%;
  height: 1px;
  background-color: #ffffff;
}

.active:hover {
  background-color: white !important;
  color: black !important;
}

.pattern-left {
  top: 73%;
}

@media screen and (max-width: 375px) {
  .pattern-left {
    top: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .family-img {
    position: absolute;
    right: 7.5%;
  }
}
