@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --bgViolet: hsl(256, 26%, 20%);
  --bgGray: hsl(0, 0%, 98%);
  --bgDarkGrayishViolet: hsl(273, 4%, 51%);
}
.bg-violet {
  background-color: var(--bgViolet);
}
.bg-gray {
  background-color: var(--bgGray);
}
.color-grayish-violet {
  color: var(--bgDarkGrayishViolet);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}
@media (max-width: 978px) {
  .container {
    padding: 0;
    margin: 0;
  }
}
